/node_modules/
.DS_Store
/.idea/
/.next/
/tsconfig.tsbuildinfo
.env.prod
.env.dev
.env.local
/tests/report/
/tests/results/
/scripts/google-docs-reader.json

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Using husky with git-lfs sometimes causes useless hooks to be written to the .husky folder
# https://github.com/typicode/husky/issues/926
# https://github.com/online-go/online-go.com/pull/2063
/.husky/
!/.husky/pre-commit
