[Unit]
Description={{ domain }}
Documentation=https://github.com/JohanLi/{{ domain }}
After=network.target

[Service]
Type=simple
User={{ user }}
WorkingDirectory=/home/{{ user }}/{{ domain }}
ExecStart=/usr/bin/node server
Restart=on-failure

[Install]
WantedBy=multi-user.target
