@import '../variables';

.app {
  width: 100%;
  max-width: $mainWidth;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: $contentWidth;
  margin: 0 auto;
  padding: $contentMargin $contentMargin $contentMargin * 2 $contentMargin;
}

@media ($breakpointMd) {
  .content {
    padding: $contentMargin * 2 0 $contentMargin * 2 * 2 0;
  }
}
