@import '../variables';

.heading {
  margin: $contentMargin * 2 0 $contentMargin 0;

  h1 {
    margin-bottom: 0;
  }
}

.published {
  font-size: 0.8em;
  color: $grayText;
  margin-top: $contentMargin / 2;
}
