@import '../variables';

.code {
  margin: 30px -20px;
  max-width: calc(100% + 40px);
  font-size: 0.8rem;
}

.caption {
  text-align: center;
  color: $grayText;
  margin: 10px 0 30px 0;
  font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
  .code {
    margin: 60px -60px;
    max-width: calc(100% + 120px);
  }

  .caption {
    margin: 20px 0 60px 0;
  }
}
