@import '../variables';

.logo {
  font-size: 1.2rem;
  font-weight: 900;
  color: #a675a2;
  text-decoration: none;
  margin-bottom: $contentMargin * 2;
  display: block;

  h1 {
    margin: 0;
  }
}

@media ($breakpointMd) {
  .logo {
    font-size: 1.5rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: $contentMargin * 3;
    }
  }
}
