@import '../variables';

.articles {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article {
  margin: $contentMargin * 2 0;
}

.title {
  color: inherit;
  text-decoration: none;

  h2 {
    margin: 0;
  }
}

.published {
  font-size: 0.8rem;
  color: $grayText;
  margin-top: $contentMargin / 4;
}
