@import './variables';

* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  background: #fff;
}

:global html.fontLoaded {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.1;
  margin: 0 0 $contentMargin / 2 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.1;
  margin: $contentMargin * 1.5 0 $contentMargin / 2 0;
}

p {
  margin: 0 0 $contentMargin * 1.5 0;
}

p:last-child {
  margin-bottom: 0;
}

@media ($breakpointMd) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0 0 $contentMargin 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: $contentMargin * 2 0 $contentMargin 0;
  }
}
