@import './variables';

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

:global .fontLoaded body {
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 1.6em;
  font-weight: 900;
  margin: 0 0 $contentMargin / 2 0;
}

h2 {
  font-size: 1.2em;
  margin: $contentMargin * 1.5 0 $contentMargin / 2 0;
}

p {
  margin: 0 0 $contentMargin * 1.5 0;
}

p:last-child {
  margin-bottom: 0;
}

@media ($breakpointMd) {
  body {
    font-size: 21px;
  }

  h1 {
    font-size: 2em;
    margin: 0 0 $contentMargin 0;
  }

  h2 {
    margin: $contentMargin * 2 0 $contentMargin 0;
  }
}
